<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{{if (!user}}
	<title>Canvas please register</title>
	{{else}}
	<title>Canvas of {{user}}</title>
	<script src ='{{ src }}' type="text/javascript"></script>>
	
</head>
<body>
	{{body}}	
</body>
</html>